* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif
}

body {
    background-color: black;
}

.nav-container {
    position: fixed;
    background-color: #080808;
    width: 100%;
    height: auto;
    padding: 20px 50px;
    z-index: 999;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.navbar nav a {
    padding-left: 20px;
}

.container {
    margin: auto;
    padding-top: 300px;
    max-width: 80%;
    color: white;
}

.intro-container {
    text-align: center;
}

.intro-container h1 {
    margin: auto;
    padding: 20px;
}

.intro-container a {
    font-size: 18px;
}

.project-container {
    position: relative;
    width: 75%;
    height: 300px;
    margin: 300px auto;
    border-radius: 10px;
    overflow: hidden; 
    background-color: #111;
    display: flex;
    align-items: center;
}

.project-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.7);
}

.project-content {
    position: relative;
    padding: 5%;
    flex-direction: column;
}

.description {
    margin-top: 10px;
}

.button {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #0051ff;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

#contact-me {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

#contact-me h1 {
    margin: 20px 0 
}

.discord {
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.discord span {
    padding: 20px 0;
    opacity: 0.75;
}

#discord-logo path:nth-child(1) {
    fill: black;
    stroke-dasharray: 232;
    stroke-dashoffset: 232;
}

#discord-logo.in-view path:nth-child(1) {
    animation: line-anim 2s ease forwards;
}

#discord-logo path:nth-child(2) {
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
}
#discord-logo.in-view path:nth-child(2) {
    animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}





/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 20px;
}